master:
  api_url: http://10.0.0.10:8081 # Optional,
  local_mode: true # Optional,
  admin_id: # Required, Telegram user id (administrator)
  token:  1234567:xxxxxxxx # Required, Telegram bot token
  proxy: http://1.1.1.1:7890 # Optional, proxy for Telegram
  archive: # Optional
    - vendor: wechat # qq, wechat, etc
      uid: wxid_xxxxxxx # client id
      chat_id: 123456789 # Telegram supergroup id (topic enabled)
  telegraph: # Optional
    enable: true # Convert some message to telegra.ph article (e.g. QQ forward message)
  	proxy: http://1.1.1.1:7890 # Optional, proxy for telegra.ph
    tokens:
      - abcdefg # telegra.ph tokens

service:
  addr: 0.0.0.0:11111 # Required, listen address
  secret: hello # Required,
  send_timeout: 3m # Optional

log:
  level: info
